#root {
  min-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #242424;
  color: #fff;
  text-align: center;
}

.TitleArea {
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}

.TitleArea .SubjectLuist {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
}

.TitleArea .SubjectLuist li {
  list-style: none;
  flex: 1;
  padding: 15px 0;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #276ef1;
  &:last-of-type {
    border-right: none;
  }
}

.DataEditor {
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.DataEditor .FlexBox {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  margin-bottom: 15px;
}

.DataEditor .FlexBox p {
  width: 100px;
  margin: 0;
}

.DataEditor input,
textarea {
  width: 500px;
  margin-bottom: 20px;
  padding: 15px;
}

.DataEditor textarea {
  height: 150px;
}

.DataEditor select {
  width: 532px;
  padding: 15px;
}

.DataEditor button {
  width: 300px;
  cursor: pointer;
}

.DataList {
  margin-top: 30px;
}

.DataItem {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #efefef;
  border-radius: 10px;
  color: #000;
}

.DataItem .SubjectContent {
  padding: 0 15px;
  text-align: left;
}

.DataItem .SubjectScore {
  padding: 0 15px;
  text-align: left;
}

.DataItem .SubjectScore p {
  font-size: 12px;
  color: #555;
}

.DataItem .ButtonArea {
  text-align: right;
  margin-right: 15px;
}
